body{
	font-family: 'Open Sans', sans-serif;

}
.firstrow{
	margin-top: 15px;
	display: flex;
	background-color: #ffffff;


	
	font-size: 20px;

	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	height: 70px;
	font-weight: bold;
	}
	a{
	text-decoration: none;
		color: #1865f2;
}
.div1-1{
	margin-top: 17px;
	margin-left: 200px;
	padding-right: 5px;

	
}
.div1-2{
		margin-top: 10px;
		margin-left: 70px;


}
.div1-3{
		margin-top: 8px;
	padding-left: 350px;
	font-size: 25px;
	color: #18171f !important;

}


.div1-4{
		margin-top: 17px;
	padding-left: 440px;
		
}
.div1-5{
		margin-top: 17px;
	padding-left: 50px;
		
}
.div1-6{
		margin-top: 17px;
	padding-left: 50px;
		
}


.triangle-down {

	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 8px solid #1865f2;
	margin-left: 1px;
	margin-top: 26px;
}
.searchbar{
	width: 100%;
	height: 60%;
	background-color: #ededed;
	border-color:#ededed;
	border-radius: 5px;
	outline: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;


}
::placeholder {
	color: #1865f2;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px; 
  font-weight: bold;
 	

}
.upperfooter{
	background-color: #cdcccf;
	height: 1px;
	width: 100%;
}
.pictures img{
	margin-top: 70px;
	height: 500px;
	width: 700px;
	margin-left: 200px;
	border-radius: 30px;		
	float: left;

}

.picture1_text{
	float: right;
	margin-top: 70px;
	margin-right: 400px;
	font-size: 60px;
	font-weight: bold;
	display: block;
	white-space: pre-line;
	word-spacing: 5px;






}
.pictures img{
	position: absolute;
	left: 0;
	animation-name: imgFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
}
@keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}
.pictures img:nth-of-type(1) {
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  -o-animation-delay: 9s;
  animation-delay: 9s;
}
.pictures img:nth-of-type(2) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
.pictures img:nth-of-type(3) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}
.div4 img:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay:0;
}
.div1-3 a{
	color: #1f0f5c;
}
.main img{
	width: 50px;
	height: 50px;
	position: relative;
	left: 345px;
	top: 3px;
	
}
.fourthrow h1{
	position: relative;
	top: 700px;
	left: 680px;
	font-size: 50px;

}
.whypictures img{
	height: 250px;
	width: 350px;
	position: relative;

}
.whypic1 {
	position: relative;
	top: 750px;
	left: 210px;
	border-radius: 30px;		
	float: left;
}
.whypic2 {
	position: relative;
	top: 750px;
	left: 420px;
	border-radius: 30px;		
	float: left;
}
.whypic3 {
	position: relative;
	top: 500px;
	left: 1350px;
	border-radius: 30px;		
	float: left;
}
.textwhy1{
	position: relative;
	top: 1045px;
	right: 410px;
	font-size: 30px;
	font-weight: bold;
}
.textwhy2{
	position: relative;
	top: 980px;
	left: 160px;
	font-size: 30px;
	font-weight: bold;
}

.textwhy3{
	position: relative;
	top: 890px;
	left: 750px;
	font-size: 30px;
	font-weight: bold;
}
.txtwhy1{
	white-space: pre-line;
	margin-top: 500px;
	position: relative;
	top: 420px;
	right: 565px;
	text-align: center;

}
.txtwhy2{
	white-space: pre-line;
	position: relative;
	top: 360px;
	right: 5px;
	text-align: center;

}
.txtwhy3{
	white-space: pre-line;
	position: relative;
	top: 280px;
	left: 580px;
	text-align: center;


}
.seventhrow img{
	height: 400px;
	width: 700px;
	border-radius: 30px;		
	float: left;
	position: relative;
	top: 400px;
	left: 200px;


}
.button1 {
	background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  height: 200px;
  width: 400px;
  position: relative;
  top: 570px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 120px;
  padding-right: 120px;
  position: relative;
  left: 300px;
  font-size: 50px;



}
.lastrow{
	background-color: #d4d4d9;

	display: flex;
	padding-bottom: 30px;
	padding-top: 30px;
	font-size: 40px;
	position: relative;
	top:500px;
	width: 100%;

}
.div8-1{
	padding-left: 200px;
}


.div8-2{
	padding-left: 200px;
	
}
.div8-3{
	padding-left: 200px;
	
	
}
.div8-4{
	padding-left: 200px;

}




